<style>
/*==========⚠️==========
* for colors go to https://htmlcolorcodes.com/color-names
* for fonts go to https://fonts.google.com
* for cursors go to https://icons8.com or https://www.cursors-4u.com
============⚠️==========*/
* { 
    cursor: url('https://cur.cursors-4u.net/cursors/cur-11/cur1054.cur'), auto; 
}
a:hover {
    cursor: url(https://cur.cursors-4u.net/cursors/cur-11/cur1049.cur), auto;
}
/* this is where the colors are rooted */

:root{
    --headers: whitesmoke;
    --text: whitesmoke; 
    --names: whitesmoke;
    --links: gray;
    --background_image: url('https://wallpapercave.com/wp/wp2686927.jpg');
    --font-family: "Courier New", cursive;
    --curve: 0px;
    --borders: 2px solid gray;
}

/* this is where the colors for specific things are located */

h3, h4, h5{color: var(--headers)!important;} /* headings*/
a{color: var(--links) !important;} /* color of links */
p, h2, .count {color: var(--text);} /* color of text */
.friends a p{color: var(--names);} /* color of names, and friends counter */
nav label{color: var(--links);} /* color of search */
.section h4 {color: var(--headers);} /* aboutme & want2meet headings */
.blurbs .heading {display:none;} /* hides the blurbs title */
.details p:last-child{color: var(--text);} /* where the last login and status appears */

/* this is where your background image ends up being styled */

body{
    background-image: var(--background_image);
    background-size: contain;
    background-position: center;
    background-color: dimgray;
}
/* this is where your name appears */
h1{
    color: white;
    font-family: var(--font-family);
    font-size:30px !important;
    font-weight: 1;
    border: var(--borders);
    background-color: black;
    padding:5px;
    text-align: center;
}

/* the navigation is adjusted here */
nav{
    background-color: black;
    border: var(--borders);
    border-radius: var(--curve);
    text-align: center;
}

nav .top, nav .links {
    background-color: transparent;
    border-radius: var(--curve);
}
nav .links a{
    text-shadow:none;
}

/* this is the line that appears between links in the header and footer.
you can add an emoji or symbol instead of the default line it has */

nav .links li:not(:last-child)::after,
footer .links li:not(:last-child)::after{
    content: "|";
    color: white;
}

nav img.logo{
    filter: brightness(0) saturate(100%) invert(50%) sepia(5%) saturate(326%) hue-rotate(174deg) brightness(92%) contrast(82%) !important;
}

/* the search wrapper and button */

.search-wrapper input[type=text] {
    background-color: transparent !important;
    border: 2px solid var(--links) !important;
    color:var(--links) !important;
    border-radius: var(--curve) !important;
}

button{
    border-radius: var(--curve) !important;
    border: 0px solid var(--links) !important;
    font-family: var(--font-family) !important;
    background-color: transparent !important;
    color:var(--links) !important;
}

/* the online symbol and text */

.online{
    color: var(--links) !important;
    text-transform: lowercase;
    text-align: right;
} 
.online img{
    filter: brightness(0) saturate(100%) invert(50%) sepia(5%) saturate(326%) hue-rotate(174deg) brightness(92%) contrast(82%); !important;
}

/* font family for the headers, navigtion links, links, body text */

a, p, b, nav label, .section{ 
    font-family: var(--font-family);	
    font-size: 12px;
    font-weight: 1;
    text-shadow: 0px 0px 0px black;
}
h2, h3, h4, h5{
    font-family: var(--font-family);
    font-size: 16px;
    text-align: center;
    font-weight: 1;
    text-shadow: 0px 0px 0px black;
}

/* the hr code.
the hr is the horizontal line when you want to 
separate important info or add a break in your paragraphs*/

hr{
    height:2px;
    background: gray;
    border: none;
}

/* this is where you adjust the borders and background */
.blurbs, .mood, .friends, .contact, .profile .table, .blog-preview, .profile .table-section{
    border-radius: var(--curve);
    border: var(--borders)!important;
    background-color: black!important;
}
.comment-replies{border:4px groove gray;} /* this is the border around the replies */
.comment-reply:not(:first-child){border-top: 2px solid var(--links);} /* line in between comment replies*/

/* your interest and comments table row background color */
td{
    background-color: transparent!important;
}

/* the middle section of your profile background color*/
main{
    background: transparent;
    border-radius: var(--curve);
    border: transparent;
    outline: none;
}

/* the interest table */
.table-section{
    border:none !important;
    border-radius: var(--curve) !important;
}

/* the header section of the boxes */
.heading{
    background: none !important;
}
/* this is the box that says "Edit Info" when you're logged in,
and to your friends it says "Profile Name is your friend". */

.profile-info {
    background-color: black !important;
    border: var(--borders) !important;
    border-radius: var(--curve) !important;
}

/* adjusting images borders and adding styling if you want to */
.profile-pic{
    padding: 10px;
}
/* you can add text-align:center; if you want your friends to be centered */
.friends-grid{
    text-align: center;
}

/* margin and padding */

h2, h3, h4, h5, p{padding-left:5px !important;} /* this is important when you have rounded corners */
.contact .heading, .profile .table-section .heading, .blog-preview .heading, .profile .friends .heading, .mood{padding: 5px!important;text-align: center;}
.mood, .friends{margin-bottom: 10px;}

.url-info{display: none;}
.general-about .details{
    background: black;
    border: var(--borders);
    padding-bottom: 70px;
    margin-bottom: 10px;
}
.contact{
    padding: 5px
}
.contact .f-col{
    padding: 0px 0px 7px;
}
.f-row{
    margin:0px!important;
}
/* this is the comments table scroll code. 
you can delete this if you don't want a scroll box */

.comments-table {
    display: block;
    height: 500px!important;
    overflow-y: scroll;
    outline: none !important;
    border-radius: 3px;
    border-spacing: 6px;
    border: transparent;
}
.comments-table td{
    border: 2px solid gray;
}

footer{
    background: black;
    border: var(--borders);
    padding:10px;
    margin-top: 10px;
}
/* .details-table td:first-child{display:none;}  this hides the movies,books,heroes titles*/
</style>

<style>
/* Scrollbar styles */
::-webkit-scrollbar {
    width: 5px;
    height: 12px;
}
::-webkit-scrollbar-track {
    border-radius: var(--curve);
    border: 1px solid black;
}
::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: var(--curve);
}
::-webkit-scrollbar-thumb:hover {
    background: black;  
}
</style>







<!-- (c) Layout created by Jack ☂ (https://layouts.spacehey.com/layout?id=106135) -->

<!----- VINYL VINYL VINYL VINYL ---->

<style>
#vinyl-gallery * {
    all: unset;
  }
 
  #vinyl-gallery {
    all: initial!important;
    width: 100%!important;
    height: 230px!important;
    margin: 30px 0!important;
    display: flex!important;
    flex-direction: row!important;
    position: relative!important;
    margin-left: -6px!important;
  }
 
  #vinyl-gallery .vinyl {
      all:unset!important;
    perspective: 500px !important;
    width: 18px!important;
    transition: width 0.5s!important;
  }
 
  #vinyl-gallery .vinyl:hover {
    width: 148px!important;
  }
 
  #vinyl-gallery img {
      all:unset!important;
    transition: transform 0.5s, width 0.5s, height 0.5s, margin-top 0.5s!important;
    width: 180px!important;
    height: 180px!important;
    transform: rotateX(0deg) rotateY(25deg)!important;
    transform-style: preserve-3d!important;
    border-radius: 4px!important;
    border: 2px solid rgba(0, 0, 0, 0.1)!important;
object-fit: cover!important;
  }
 
  #vinyl-gallery .vinyl:hover img {
    transform: rotateX(0deg) rotateY(10deg)!important;
    width: 188px!important;
    height: 188px!important;
    margin-top: -2px!important;
  }
 
  #vinyl-gallery .title {
    color: #000000;
    display: block;
    visibility: hidden;
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
    padding-left: 6px;
  }
 
  #vinyl-gallery .vinyl:nth-child(n):hover + .title {
    visibility: visible;
  }

</style>
<div id="vinyl-gallery">
  <div class="vinyl">
    <img src="https://i.pinimg.com/736x/40/cb/0b/40cb0b4b8d6316bc165a239f63b8a077.jpg"/>
  </div>
  <div class="title">RM- Right Place, Wrong Person </div>

  <div class="vinyl">
    <img src="https://i.pinimg.com/736x/62/2f/be/622fbebe1cd2031d7574dd1ff7e01a29.jpg"/>
  </div>
  <div class="title">mass of fermenting dregs- Word is Yours</div>

<div class="vinyl">
    <img src="https://i.pinimg.com/736x/9c/ac/d5/9cacd522bb0e5c7e508d7f3b9ec429de.jpg"/>
  </div>
  <div class="title">MF doom - MadVallian</div>


  <div class="vinyl">
    <img src="https://i.pinimg.com/736x/32/c7/09/32c7092433a5cc40d677e0d6a47e8b02.jpg"/>
  </div>
  <div class="title">Deftones - Diamond Eyes</div>

  <div class="vinyl">
    <img src="https://i.pinimg.com/736x/7c/f6/7d/7cf67d1e030a5ca05f769b4cec04f709.jpg"/>
  </div>
  <div class="title">Molchat Doma- судно</div>

  <div class="vinyl">
    <img src="https://i.pinimg.com/736x/1a/9e/42/1a9e42c6c0a004f153b503d4f42f8ca9.jpg"/>
  </div>
  <div class="title">Kendrick Lamar - Mr. Morale & The Big Steppers</div>

  <div class="vinyl">
    <img src="https://i.pinimg.com/736x/51/e5/f1/51e5f16adf592e70b7f20ebd41672cb6.jpg"/>
  </div>
  <div class="title">MacDemarco- MacDemarco</div>

  <div class="vinyl">
    <img src="https://i.pinimg.com/736x/68/8b/4c/688b4c9c7527fb8925a840c0cde72360.jpg"/>
  </div>
  <div class="title">Tema Impala- Currents</div>

<div class="vinyl">
    <img src="https://i.pinimg.com/736x/36/4c/69/364c69217e23abcf5b0acde3172337b6.jpg"/>
  </div>
  <div class="title">RadioHead- Ok computer</div>

  <div class="vinyl">
    <img src="https://i.pinimg.com/736x/b5/86/29/b586292c4c01aa24fbd244a98fd4b9d7.jpg"/>
  </div>
  <div class="title">Joji- Nectar</div>

  <div class="vinyl">
    <img src="https://i.pinimg.com/736x/f1/fa/c0/f1fac0072f7195e83ffc0b63e7d631b8.jpg"/>
  </div>
  <div class="title">Epik High- Swan Songs</div>

  <div class="vinyl">
    <img src="https://i.pinimg.com/736x/fb/48/f5/fb48f500725f95766e8e1f03d6691b66.jpg"/>
  </div>
  <div class="title">Kanye West- My Dark Twisted Fantasy</div>

  <div class="vinyl">
    <img src="https://i.pinimg.com/736x/cd/8a/02/cd8a024a8d8c05e5c39d2e0de731dba3.jpg"/>
  </div>
  <div class="title">Kanye West- Graduation</div>
</div>

<style>
.general-about{
  position: relative;
  margin-top: 30px;
}
.online {
    content: url(https://sillyblinkies.nekoweb.org/online/catonline.gif);
}
</style>




<style>

.profile .friends .person:first-child img:not(.icon){
content:url(https://i.ibb.co/RCzrWmk/de75be85b8c9b25265692c9d30eef9d8.gif);
}
.profile .friends .person:nth-child(2) img:not(.icon){
content:url(https://i.ibb.co/HryQrNN/4ad3b567236d7d59e2f31e6633cfcdc7.gif);
}
.profile .friends .person:nth-child(3) img:not(.icon){
content:url(https://i.ibb.co/rQmXBPM/22a09e751c29806f1d775438aafaa495.gif);
}
.profile .friends .person:nth-child(4) img:not(.icon){
content:url(https://i.ibb.co/NVk5ktW/f2ebaa2dc743391cdfc2743d604b2c4c.gif);
}
.profile .friends .person:nth-child(5) img:not(.icon){
content:url(https://i.ibb.co/FsSHq2L/5727b991b33ea763382e219b2165a2bf.gif);
}
.profile .friends .person:nth-child(5) img:not(.icon){
content:url(https://i.ibb.co/FsSHq2L/5727b991b33ea763382e219b2165a2bf.gif);
}
.profile .friends .person:nth-child(6) img:not(.icon){
content:url(https://i.ibb.co/rQmXBPM/22a09e751c29806f1d775438aafaa495.gif);
}
.profile .friends .person:nth-child(7) img:not(.icon){
content:url(https://i.ibb.co/z2B5W2k/7fd35eac56fc6a8586298a6ed2ce9e85.gif);
}
.profile .friends .person:nth-child(8) img:not(.icon){
content:url(https://i.ibb.co/4Y1Wngg/32a6883c4d90ce18f01fb552f8418965.gif);
</style>


<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/0hta2Lb2zKJ7kEnAEZEE3G?utm_source=generator" width="95%" height="100" frameborder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>


